[Unit]
Description=Christine's Wernicke

[Service]
Type=simple
WorkingDirectory=/wernicke
ExecStart=/wernicke/wernicke_venv/bin/python -u wernicke_server.py --server_name "Ye Olde VR Rig" --server_host "yeoldevrrig.lan" --server_rating "90" --server_model "medium.en"

[Install]
WantedBy=multi-user.target
