.vscode
__pycache__
sounds
backups
logs
dev
short_term_memory.json
memory_yesterday.txt
messages.log
christine.sqlite
config.ini
unit_testing.py
christine-docker/homedir
mcp
neocortex
christine-docker/docker-compose.yml
