[Unit]
Description=Christine's Brain

[Service]
Type=simple
WorkingDirectory=/root/ChristineAI
TimeoutStopSec=4
ExecStart=/usr/local/bin/python3.11 -u -m christine

[Install]
WantedBy=multi-user.target
