[Unit]
Description=Christine's Brain

[Service]
Type=simple
WorkingDirectory=/root/ChristineAI
TimeoutStopSec=4
Environment=PALM_API=YOUR_KEY
Environment=COBRA_KEY=YOUR_COBRA_KEY
Environment=CBU_NAME=Yourname
Environment=SBU_NAME=Christine
ExecStart=/root/ChristineAI/venv/bin/python -u -m christine

[Install]
WantedBy=multi-user.target
