[wernicke]
enabled = no
pv_key = 
server = auto

[broca]
enabled = yes
server = auto

[parietal_lobe]
user_name = Phantom
char_name = Christine

repeat_what_i_say_enabled = no

chub_enabled = yes
chub_api_key = 

openai_api_key = 

[neocortex]
enabled = yes
server = myserver.lan
