[Unit]
Description=Christine's Broca

[Service]
Type=simple
WorkingDirectory=/root/ChristineAI/christine-server
ExecStart=/root/ChristineAI/christine-server/broca_venv/bin/python -u broca.py

[Install]
WantedBy=multi-user.target
