[wernicke]
model_size = medium.en
pv_enabled = no
pv_key = [Put your key here]
eagle_recognize_threshold = 0.2
no_speech_prob_threshold = 0.4
save_wavs = yes

[broca]
model_path = ./tts_model/model.pth
config_path = ./tts_model/config.json
model_path_sexy = ./tts_model/sexy_model.pth
save_raw_model_output = no
eq_freq_0 = 275
eq_width_0 = 20
eq_gain_0 = 1
eq_freq_1 = 285
eq_width_1 = 20
eq_gain_1 = 1
eq_freq_2 = 296
eq_width_2 = 20
eq_gain_2 = 1
eq_freq_3 = 318
eq_width_3 = 20
eq_gain_3 = 1
eq_freq_4 = 329
eq_width_4 = 20
eq_gain_4 = 1
eq_freq_5 = 438
eq_width_5 = 20
eq_gain_5 = 1
eq_freq_6 = 454
eq_width_6 = 20
eq_gain_6 = 1
eq_freq_7 = 488
eq_width_7 = 30
eq_gain_7 = 1
eq_freq_8 = 5734
eq_width_8 = 100
eq_gain_8 = 5
eq_freq_9 = 6382
eq_width_9 = 100
eq_gain_9 = 5
eq_freq_10 = 6614
eq_width_10 = 100
eq_gain_10 = 5
eq_freq_11 = 6855
eq_width_11 = 100
eq_gain_11 = 5
eq_freq_12 = 11300
eq_width_12 = 150
eq_gain_12 = 5
volume = 20.0
