[Unit]
Description=Christine's Parietal Lobe

[Service]
Type=simple
WorkingDirectory=/root/ChristineAI/christine-server
Environment=MAIN_GPU=0
Environment=N_GPU_LAYERS=-1
Environment=N_CTX=4096
Environment=MAX_TOKENS=512
Environment=MODEL_FILE=./llm_model/thespis-13b-dpo-v0.7.Q5_K_M.gguf
Environment=CBU_NAME=Phantom
Environment=SBU_NAME=Christine
ExecStart=/root/ChristineAI/christine-server/parietal_lobe_venv/bin/python -u parietal_lobe.py

[Install]
WantedBy=multi-user.target
