

/*
 * My pink buttons and things
 */


.pinkButton {
  box-shadow:inset 0px 1px 0px 0px #fbafe3;
  background-color:#ff5bb0;
  border-radius:6px;
  border:1px solid #ee1eb6;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:30px;
  font-weight:bold;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #c70067;
}
.pinkButton:hover {
  background-color:#ef027c;
}
.pinkButton:active {
  position:relative;
  top:1px;
}

/* Style buttons */
.btn {
  background-color:#ff5bb0;
  color: white;
  padding: 4px 4px;
  font-size: 18px;
  cursor: pointer;
}

/* The volume down button wasn't quite square */
.voldownbtn {
  margin-left: 4px;
  margin-right: 4px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color:#ef027c;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #eee;
}

/* Style the collapsible content. Note: hidden by default */
.sound_detail {
  padding: 32px 32px;
  display: none;
  overflow: hidden;
}

.loadingspinner {
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid transparent;
  border-color: #eee;
  border-top-color: #3E67EC;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg)
  }
}

/*
 * Styling for status table
 */

.statusarea {
  font-size: 15px;
}

.statusarea_table  {border-collapse:collapse;border-spacing:0;}
.statusarea_table td{border-color:black;border-width:1px;font-family:Arial, sans-serif;font-size:12px;
  overflow:hidden;padding:4px 5px;word-break:normal;}
.statusarea_table th{border-color:black;border-width:1px;font-family:Arial, sans-serif;font-size:12px;
  font-weight:normal;overflow:hidden;padding:4px 5px;word-break:normal;}
.statusarea_table .statusarea_table-value{border-color:#ffffff;text-align:left;vertical-align:top}
.statusarea_table .statusarea_table-label{border-color:#ffffff;text-align:left;vertical-align:top}


/*
 * Styling for the collections
 * Borrowed https://css-tricks.com/rotated-table-column-headers/
 */


.table-header-rotated {
  border-collapse: collapse;
}
.csstransforms .table-header-rotated td {
  width: 30px;
}
.no-csstransforms .table-header-rotated th {
  padding: 5px 10px;
}
.table-header-rotated td {
  text-align: center;
  padding: 5px 5px;
  border: 1px solid #ccc;
}
th.rotate {
  height: 140px;
  white-space: nowrap;
  top: 0;
  position: sticky;
}
.rotatediv {
  transform: translate(18px, 51px) rotate(315deg);
  width: 30px;
}
.rotatedivspan {
  border-bottom: 1px solid #ccc;
  padding: 3px 0px;
}
.table-header-rotated th.row-header {
  padding: 0 10px;
  border-bottom: 1px solid #ccc;
}

/*
 * Styling for the sounds sorted by collections
 */
sounddata {
  text-align: center;
}